   

        body {
            background-color: black;
            font-family: 'Space Mono', monospace; 
       }
        button {
            border-radius: 45%;
            border-color: whitesmoke;
            background-color: darkslateblue;
            color: whitesmoke;
            padding: 10px;
            margin: auto;
        }
        
        .header {
            background-color:rgb(112, 145, 216);
        }
        .leftContainer {
            background-color: none;
            
        }
        .rightContainer {
            
            height: 90vh;
        }
        .footer {
            background-color: rgb(112, 145, 216);
            height: 20vh;
        }
        .moonPhase {
            background-color: rgb(235, 236, 245);
            padding: 20px;
            border-radius: 25px;
            margin-left: 40px;
        }
        .leftContainer label {
            background-color: lightslategrey;

         
        }
        .rightContainer label { 
            background-color: rgb(46, 173, 173);
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-radius: 25%;
            padding: 5px 0px 5px 5px;
           
            
        }

        .ltgray{
            border-radius: 15px;
            border-color: gray;
            border-style: solid;
        }

        .mpCon {
            z-index: 1;
        }

        #canvas {

            z-index: 0;
            position: fixed;
            top: 0;
            left: 0;
        }  


        .ui-datepicker-trigger { 
            position:relative;
            height: 30px;
            
        }