body {
  background-color: black;
  font-family: "Space Mono", monospace;
}
button {
  border-radius: 45%;
  border-color: whitesmoke;
  background-color: darkslateblue;
  color: whitesmoke;
  padding: 10px;
  margin: auto;
}

.historyButtonCon {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.historyButtonCon::-webkit-scrollbar {
  -webkit-appearance: none;
}
.historyButtonCon::-webkit-scrollbar:vertical {
  width: 7px;
}
.historyButtonCon::-webkit-scrollbar:horizontal {
  height: 11px;
}
.historyButtonCon::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #db1212; /* should match background, can't be transparent */
  background-color: #de4b4bbe;
}

.mpCon {
  z-index: 1;
}

#canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.ui-datepicker-trigger {
  position: relative;
  height: 30px;
}
.bgBlue {
  background-color: #0b3d91;
}
.bgRed {
  background-color: #db1212;
}